<div class="d-flex justify-content-center align-items-center">
  <p style="color: red;"><b>Увеличение курсов групп производится автоматически после 1-го августа!</b></p>
</div>
<div class="d-flex justify-content-center align-items-center flex-column">

  <div class="mb-3" style="padding: 1rem 1rem; border: 1px solid #426696">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h5>Добавление группы</h5>
    </div>
    <div class="form-floating mb-2" style="max-width: 40rem;">
      <form class="example-form">
        <!-- <mat-form-field class="example-full-width" style="width: 100%"> -->
          <input class="form-control" type="text"
                 placeholder="Название"
                 aria-label="Группа"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
                 <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
                    <mat-option *ngFor="let group of filteredGroupsFromApiTable | async;" [value]="group">
                        {{ group.name }}
                    </mat-option>
                  </mat-autocomplete>
        <!-- </mat-form-field> -->
      </form>
      <!-- <input [(ngModel)]="groupNameToAdd" type="text" class="form-control" placeholder="Группа" required>
      <label for="addedLabRaiting">Группа</label> -->
    </div>
    <!-- <input [(ngModel)]="groupNameToAdd" matInput placeholder="Группа"> -->
    <input (change)="onFileSelected($event)" type="file" id="fileInput" accept=".xlsx">
    <!-- <button (click)="addNewGroup()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button> -->
    <button (click)="addNewGroup()" mat-raised-button color="primary">Добавить группу</button>
  </div>
</div>
<div>
    <table class="table">
        <thead>
          <tr>
            <th style="border-bottom: 2px solid #426696;">Группа</th>
            <th style="border-bottom: 2px solid #426696;">Последнее время загрузки семестра</th>
            <th style="border-bottom: 2px solid #426696;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groups">
            <td style="border-bottom: 1px solid #426696;">{{group.name}}</td>
            <td style="border-bottom: 1px solid #426696;">
              <ng-container *ngIf="dateIsExists(group.dateTimeOfUpdateDependenciesFromServer!.toString()); else noDateTemplate">
                {{group.dateTimeOfUpdateDependenciesFromServer | date: 'dd/MM/yyyy, HH:mm':'GMT'}}
              </ng-container>
              <ng-template #noDateTemplate>
                <b style="color: red">Семестр не загружался</b>
              </ng-template>
            </td>
            <td style="border-bottom: 1px solid #426696;">
              <button style="margin-right: 0.5rem;" (click)="openDialog(group.id)" mat-raised-button color="primary">Загрузить семестр</button>
              <button style="margin-right: 0.5rem;" (click)="navigateToAboutGroupPage(group.id)" mat-raised-button color="primary">Подробнее</button>
              <button style="margin-right: 0.5rem;" (click)="deleteGroup(group.id)" mat-raised-button color="warn">Удалить</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Выберите дату начала семестра</h2>
  <mat-form-field style="width: 100%;">
    <mat-label>Дата</mat-label>
    <input [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-dialog-actions>
    <button (click)="uploadDependenciesForSelectedGroup()" mat-button cdkFocusInitial>Загрузить</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #dialogDeleteTemplate>
  <h2 mat-dialog-title>Вы уверены, что хотите удалить группу?</h2>
  <mat-dialog-actions>
    <button (click)="onNoClick()" mat-button cdkFocusInitial>Отмена</button>
    <button (click)="onYesClick()" mat-button cdkFocusInitial>Удалить</button>
  </mat-dialog-actions>
</ng-template>