 
  <!-- <ng-template #dialogTemplate>
    <h2 mat-dialog-title>Выберите дисциплину</h2>
    <mat-form-field style="width: 100%;">
      <mat-label>Выберите дату</mat-label>
      <input [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-dialog-actions>
      <button (click)="uploadDependenciesForSelectedGroup()" mat-button cdkFocusInitial>Выбрать</button>
    </mat-dialog-actions>
  </ng-template> -->

  <div class="schedule-container">
    <div class="schedule-left-side">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <p style="color: red;"><b>Если дисциплина отсутствует в учебном плане, оставьте поле для учебного плана пустым.</b></p>
        <div>
          <div class="form-group">
            <label for="exampleInputEmail1">Название предмета на севрере</label>
            <input [(ngModel)]="subjectNameApiTableToAdd" class="form-control" id="1">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Название предмета в учебном плане</label>
            <input [(ngModel)]="subjectNameCurriculumToAdd" class="form-control" id="2">
          </div>
          <div class="d-flex justify-content-center align-items-center flex-column">
            <button (click)="this.addSubjectMapping()" class="mt-2" mat-raised-button color="primary">Добавить</button>
          </div>
        </div>
      </div>
      <div>
          <table class="table">
              <thead>
                <tr>
                  <th style="border-bottom: 2px solid black;">Название предмета на сервере</th>
                  <th style="border-bottom: 2px solid black;">Название предмета в учебном плане</th>
                  <th style="border-bottom: 2px solid black;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subjectMapping of subjectMappings">
                  <td style="border-bottom: 1px solid black;">{{subjectMapping.subjectNameApiTable}}</td>
                  <td *ngIf="subjectMapping.subjectNameCurriculum === null else isNotNull" style="border-bottom: 1px solid black;"><b style="color: red">-</b></td>
                  <ng-template #isNotNull>
                    <td style="border-bottom: 1px solid black;">{{subjectMapping.subjectNameCurriculum}}</td>
                  </ng-template>
                  <td style="border-bottom: 1px solid black;">
                    <div class="d-flex">
                      <button style="margin-right: 5px;" (click)="deleteSubjectMapping(subjectMapping.id)" type="button" class="btn btn-danger"><mat-icon>delete</mat-icon></button>
                      <button (click)="this.subjectMappingToUpdate = subjectMapping" type="button" class="btn btn-warning"><mat-icon>edit</mat-icon></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>

    <div *ngIf="subjectMappingToUpdate" class="schedule-right-side">
        <div class="navigation-window"  style="width: 400px; position: sticky; top: 0;">
            <div class="navigation-window-header d-flex justify-content-center align-items-center flex-column">
              <h5>Обновление данных</h5>
            </div>

            <hr />

            <nav class="flex-column nav-items">
              <div class="form-group">
                <label for="exampleInputEmail1">Название предмета на севрере</label>
                <input [(ngModel)]="subjectMappingToUpdate.subjectNameApiTable" class="form-control" id="3">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Название предмета в учебном плане</label>
                <input [(ngModel)]="subjectMappingToUpdate.subjectNameCurriculum" class="form-control" id="4">
              </div>
              <div class="d-flex justify-content-center align-items-center flex-column">
                <button (click)="updateSubjectMapping()" class="mt-2" mat-raised-button color="primary">Обновить</button>
              </div>
            </nav>
        </div>
    </div>
</div>

<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Вы уверены, что хотите удалить дисциплину?</h2>
  <mat-dialog-actions>
    <button (click)="onNoClick()" mat-button cdkFocusInitial>Отмена</button>
    <button (click)="onYesClick()" mat-button cdkFocusInitial>Удалить</button>
  </mat-dialog-actions>
</ng-template>