<!-- <div *ngIf="lessons === null; else noLessons">
    <em>Загрузка...</em>
</div>

<ng-template #noLessons>
    <div *ngIf="lessons && lessons.length > 0; else lessonsEmpty">
        <div class="lessons" *ngFor="let lesson of lessons; let i = index">
            <div class="lesson">
                <div class="about-lesson">
                    <div class="item-about-lesson item-about-lesson-number">
                        {{i + 1}}
                    </div>
                    <div class="item-about-lesson item-about-lesson-time">
                        {{lesson.timeStart}} - {{lesson.timeEnd}}
                    </div>
                    <div *ngIf="lesson.lessonType === 'лекция'" class="item-about-lesson item-about-lesson-type item-about-lesson-type-lecture">
                        {{ lesson.lessonType }}
                    </div>
                    <div *ngIf="lesson.lessonType === 'практика'" class="item-about-lesson item-about-lesson-type item-about-lesson-type-practice">
                        {{ lesson.lessonType }}
                    </div>
                </div>
                <div class="about-lesson-second">
                    <h5>{{lesson.subject}}</h5>
                    <a href="teachers">{{lesson.teacher}}</a>
                    <a href="teachers">{{lesson.classroom}}</a>
                </div>
            </div>
        </div>
    </div>

    <ng-template #lessonsEmpty>
        <h1>Занятия отсутствуют</h1>
    </ng-template>
</ng-template> -->