<div *ngIf="errorQrMessage else qrExists" class="d-flex justify-content-center align-items-center flex-column">
    <h5>{{errorQrMessage}}</h5>
    <h5>QR-код отсутствует.</h5>
</div>
<ng-template #qrExists>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h5>QR-пропуск:</h5>
        <img style="width: 90vw; height: auto; max-width: 400px;" [src]="qrCodePNG" alt="QR Code">
    </div>
</ng-template>

<!-- <p>{{userLatitude}}</p>
<p>{{userLongitude}}</p>
<p>{{accuracy}}</p> -->

