<body>
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Вход в учебный портал</h3>
      
                    <!-- Sign In Form -->
                      <div class="form-floating mb-3">
                        <input [(ngModel)]="user.login" type="email" class="form-control" id="floatingInput" placeholder="student@astu.org">
                        <label for="floatingInput">Логин</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input [(ngModel)]="user.password" type="password" class="form-control" id="floatingPassword" placeholder="Пароль">
                        <label for="floatingPassword">Пароль</label>
                      </div>
      
                      <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                        <label class="form-check-label" for="rememberPasswordCheck">
                          Запомнить пароль
                        </label>
                      </div>
      
                      <div class="d-grid">
                        <button (click)="login(user)" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2">Войти</button>
                      </div>
                    
                    <div *ngIf="isLoading">
                        <em>Авторизуемся...</em>
                    </div>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

<!-- <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
<div class="text-center mt-5">
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
      <div>
        <input [(ngModel)]="user.email" type="email" class="form-control" placeholder="Номер зачётки">
      </div>
      <div>
        <input [(ngModel)]="user.password" type="password" class="form-control" placeholder="Пароль">
      </div>
      <button (click)="login(user)" class="btn btn-lg btn-primary btn-block">Войти</button>
      <div class="mt-3">
        <button (click)="register(user)" class="btn btn-primary btn-block">Зарегистрироваться</button>
      </div>
    </div>
</div>

<div *ngIf="isLoading">
    <em>Авторизуемся...</em>
</div> -->